sf.json
{
    "Comment": "Test step Function for validating",
    "StartAt": "Checking Input",
    "States": {
      "Checking Input": {
        "Type": "Choice",
        "Choices": [
          {
            "Variable": "$.status",
            "StringEquals": "validate",
            "Next": "Validation Success"
          },
          {
            "Variable": "$.status",
            "StringEquals": "not_validate",
            "Next": "Validation Failed"
          }
        ]
      },
      "Validation Success": {
        "Type": "Task",
        "Resource": "${validate_function}",
        "End": true
      },
      "Validation Failed": {
        "Type": "Task",
        "Resource": "${not_validate_func}",
        "End": true
      }
    }
  }